
/*==========================================*/
/*=============  MEDIA QUERY  ==============*/
/*==========================================*/

/* ----------- iPhone 6,+ 7+ and 8+ ----------- */
  
/* Portrait and Landscape */

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background: #fff;
  }
  /* REUSABLE COMPONENTS */
  .button-reuse {
    font-size: 1rem;
    padding: .3rem 1rem !important;
    margin: 2rem 0;
    letter-spacing: .1rem;
  
  }
  .menu-bars  {
    .navbar {
      position: relative;
      button {
        position: fixed;
        top: 3rem;
        right: 40%;
        .fas {
          padding: .1rem;
          font-size: 1.6rem;
          color: #fff;
        }
      }
    }
  }
  /*==================================*/
  /*  HEADER SECTION */
  /*==================================*/
  .header-section {
    position: relative;
  
    .navigation {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      margin: 0 !important;
      padding-bottom: 0 !important;
      z-index: 1;
      background: linear-gradient(to left, #712323,#812727);
      animation-name: initial;
      animation-duration: 5s;
      animation-fill-mode: both;
    }
  }
  /*======= BANNER =======*/
  .banner {   
    .banner-text {
      .promo-title {
        margin-top: 3rem !important;
        text-align: center;
        font-weight: 400;
      }
      .head-description {
        text-align: center !important;
        font-size: 1.2rem !important;
        padding: 0 3rem !important;
      }
      .button-top {
        position: relative;
        .btn {
          margin-top: 1.5rem !important;
          position: absolute;
          right: 16%;
        }
        .btn-left {
          position: absolute;
          left: 16%;
        }
      }
    }
    .slider-img {
      img {
        max-width: 25rem;
        max-height: 20rem;
        margin-top: 3rem !important;
      }
    }
  }
  /*======= ABOUT SECTION =======*/
  .about-section {
    .hThree {
    margin-top: 7.5rem;
    }
    .head-description {
      font-size: 1.4rem;
      text-align: left;
      margin-top: 2.5rem;
      padding-right: 5.5rem;
      color: #615f5f;
    }
    
  }
}