
/*==========================================*/
/*=============  MEDIA QUERY  ==============*/
/*==========================================*/

/* ----------- iPhone 6,+ 7+ and 8+ ----------- */
  
/* Portrait and Landscape */

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background: #fff;
  }
  /* REUSABLE COMPONENTS */
  .button-reuse {
    font-size: 1rem;
    padding: .3rem 1rem !important;
    margin: 2rem 0;
    letter-spacing: .1rem;
  
  }
  .menu-bars  {
    .navbar {
      position: relative;
      button {
        position: fixed;
        top: 3rem;
        right: 10rem !important;
        .fas {
          padding: .1rem;
          font-size: 1.6rem;
          color: #fff;
        }
      }
    }
  }
  /*==================================*/
  /*  HEADER SECTION */
  /*==================================*/
  .header-section {
    position: relative;
  
    .navigation {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      margin: 0 !important;
      padding-bottom: 0 !important;
      z-index: 1;
      background: linear-gradient(to left, #712323,#812727);
      animation-name: initial;
      animation-duration: 5s;
      animation-fill-mode: both;
    }
  }
  /*======= BANNER =======*/
  .banner {   
    .banner-text {
      .promo-title {
        margin-top: 3rem !important;
        text-align: center;
        font-weight: 400;
      }
      .head-description {
        text-align: center !important;
        font-size: 1.2rem !important;
        padding: 0 3rem !important;
      }
      .button-top {
        position: relative;
        .btn {
          margin-top: 1.5rem !important;
          position: absolute;
          right: 16%;
        }
        .btn-left {
          position: absolute;
          left: 16%;
        }
      }
    }
    .slider-img {
      img {
        max-width: 30rem !important;
        max-height: 25rem !important;
        margin-top: 10rem !important;
      }
    }
  }
  /*======= ABOUT SECTION =======*/
  .about-section {
    .hThree {
    margin-top: 3rem !important;
    text-align: center !important;
    }
    .head-description {
      font-size: 1.3rem;
      text-align: center !important;
      margin-top: 2rem;
      padding: 0 4rem;
    }
    .arrow {
      margin: 0 auto;
  
      .fas {
        color: #e95656;
        font-size: 1.8rem;
        text-align: left;
        padding: .5rem;
      
      }
    }
    .hFive {
      padding: 0 !important;
      margin-top: 2rem;
    }
    
  }
  /*======= SERVICES SECTION =======*/

  .services-section {
    .head-description {
      width: 100%;
      font-size: 1.4rem;
      text-align: center;
      padding: 0 !important;
      margin-top: 1.5rem;
    }
    .item-box {
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      margin: 4.5rem 4rem;
      h4 {
        color: #fff;
      }
      p {
        font-weight: 400;
        line-height: 2;
        margin: 1rem 2rem;
        color: #fff;
        margin: 2rem 0;
      }
    }
  }
  /*======= PORTFOLIO SECTION =======*/
  .owl-nav {
    position: relative;
    margin-top: 5rem !important;
   
    .owl-prev {
      position: absolute;
      bottom: 0;
      left: 45% !important;
    }
    .owl-next {
      position: absolute;
      bottom: 0;
      right: 45% !important;
      font-size: 5rem;
    }
    span {

      height: 2rem !important;
      display: inline-block;
      color: #cc3939;
      font-size: 5rem;
      background: #ffffff;
    }
    
  }


  /*======= BLOG SECTION =======*/

  .blog-section {
    .blog {
      margin: 0 !important;
      .hThree {
        margin-top: 2rem !important;
        text-align: center;
        font-size: 1.6rem;
      }
      .little-description {
        line-height: 3.5;
        text-align: center !important;
        margin: 2rem 0;
        padding-right: 0 !important;
      }
    }
    .blogR {
      .hThree {
        margin-top: 6rem !important;
      }
    }
  }      
}